/* :root {
  --vp-font-family-base: Valkyrie, serif;
  --vp-c-brand-1: rgb(27, 132, 197);
  --vp-c-brand-2: rgb(95, 152, 196);
  --vp-c-brand-3: rgb(112, 146, 173);
  --vp-nav-height: 48px;
  --vp-c-gutter:rgb(238, 238, 238);
  --vp-nav-bg-color: transparent;
  --vp-code-block-bg: #f6f6f7AA;
  --vp-code-lang-color: transparent;
  --vp-code-line-height: 1.4;
} */
